root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{md, ass}]
trim_trailing_whitespace = false

[*.{m, sh}]
indent_style = tab
trim_trailing_whitespace = false
