# 工程
.idea/
.vscode/
.vs/
Creations/Fonts/
Creations/参考资料/
temp*

# 二进制
*.jar
*.nb

# 音乐
*.MP3
*.MP4
*.MP5
*.flac
*.ogg

# 视频
*.flv
*.mkv
*.wav

# 图片
*.jpg
*.jpeg
*.png


# 其他歌词格式
*.txt
*.lrc
*.srt
*.acplay
*.bbplay
*.xml
*.tcax.ass

# 视频工程
*.vsp
*.prproj

# 字体文件
*.ttc